body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin: 0 auto;
    width: 300px;
    margin-top: 50px;
}

form input[type="text"],
form input[type="password"],
form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 20px;
    color: #000000;
}

a:hover {
    color: #000000b6;
}
