body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
}

#requisitesTable th a,
#paymentRequestsTable th a {
    color: white;
}

#requisitesTable th,
#paymentRequestsTable th {
    background-color: black;
}

#searchForm label,
#searchForm select {
    color: rgb(0, 0, 0);
}

#requisitesTable th,
#paymentRequestsTable th {
    background-color: black;
    color: white;
}