<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список заявок на оплату</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyIxjSM6tFZv3voU5/DX4E63Lk5t2FExp5" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">
</head>

<body>
    <h1>Список реквизитов</h1>
    <a href="{{url_for('app_routes.logout')}}" class="btn btn-primary home-btn">Выйти из аккаунта</a>
    <a href="/" class="btn btn-primary mainpage-btn">Главная страница</a>

    <div class="searchForm">
        <form id="searchForm">
            <div class="search">
                <label for="search" style="font-size: 16px;">Искать:</label>
                <input type="text" name="search" id="search" value="{{ search_term }}">
            </div>
            <div>
                <label for="search_field" style="font-size: 16px;">Поле для поиска:</label>      
                <select name="search_field" id="search_field">
                    <option value="payment_type">Тип оплаты</option>
                    <option value="account_type">Тип аккаунта</option>
                    <option value="owner_name">ФИО</option>
                    <option value="phone_number">Номер телефона</option>
                    <option value="value_limit">Лимит</option>
                </select>
            </div>
            <div>
                <button type="submit">Поиск</button>
            </div>
        </form>
    </div>
        
    <table id="requisitesTable">
        <thead>
            <tr>
                <th><a href="#" class="sort-link" data-sort="id">ID</a></th>
                <th><a href="#" class="sort-link" data-sort="payment_type">Тип платежа</a></th>
                <th><a href="#" class="sort-link" data-sort="account_type">Тип аккаунта</a></th>
                <th><a href="#" class="sort-link" data-sort="owner_name">ФИО</a></th>
                <th><a href="#" class="sort-link" data-sort="phone_number">Номер телефона</a></th>
                <th><a href="#" class="sort-link" data-sort="value_limit">Лимит</a></th>
            </tr>
        </thead>
        <tbody>
            {% for requisite in requisites %}
            <tr>
                <td>{{ requisite.id }}</td>
                <td>{{ requisite.payment_type }}</td>
                <td>{{ requisite.account_type }}</td>
                <td>{{ requisite.owner_name }}</td>
                <td>{{ requisite.phone_number }}</td>
                <td>{{ requisite.value_limit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#searchForm').submit(function (e) {
                e.preventDefault();
                let formData = $(this).serialize();
                $.ajax({
                    type: 'GET',
                    url: '/get_requisites',
                    data: formData,
                    dataType: 'json',
                    success: function (data) {
                        updateTable(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            $('.sort-link').click(function (e) {
                e.preventDefault();
                let column_to_sort = $(this).data('sort');
                let order_by = 'asc';
                if ($(this).hasClass('desc')) {
                    order_by = 'asc';
                    $(this).removeClass('desc');
                } else {
                    order_by = 'desc';
                    $(this).addClass('desc');
                }
                $.ajax({
                    type: 'GET',
                    url: '/get_requisites',
                    data: {
                        sort: column_to_sort,
                        order: order_by,
                        search: $('#search').val(),
                        search_field: $('#search_field').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        updateTable(data);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            function updateTable(data) {
                $('#requisitesTable tbody').empty();
                $.each(data, function (index, requisite) {
                    $('#requisitesTable tbody').append('<tr>' +
                        '<td>' + requisite.id + '</td>' +
                        '<td>' + requisite.payment_type + '</td>' +
                        '<td>' + requisite.account_type + '</td>' +
                        '<td>' + requisite.owner_name + '</td>' +
                        '<td>' + requisite.phone_number + '</td>' +
                        '<td>' + requisite.value_limit + '</td>' +
                        '</tr>');
                });
            }
        });
    </script>
</body>

</html>